<p>My song</p>
<%= form_for (@song) do |f| %>
<%= f.label 'My song name' %>
<%= f.text_area :name %>
<%= f.label 'Artist id' %>
<%= f.text_area :artist_id %>
<%= f.label 'Genre id' %>
<%= f.text_area :genre_id %>

<%= f.submit "Create song" %>
<% end %>